<header class="debug-header">
  <nav>
    <h1>B2Bデバッグヘッダ</h1>
    <ul>
      <li><a href="#">ログイン</a></li>
      <li><a href="#">ログアウト</a></li>
      <li><a href="#">以降追加</a>
    </ul>
  </nav>
</header>